   body{
    background-color: rgb(220, 250, 223);
   }

   h1{
    color: rgb(55, 0, 255);
    text-align: center;
   }

    h2 {
      color: blueviolet
    }

    h3{
      color: red;
      margin-left: 40px;
      margin-block-start: 50px;
      
    }

    #irfan{
      text-align: center;
      color: purple;
    }
    
    .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
      }
      
      .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
      }
       
      .sidebar a.active {
        background-color: #043eaa;
        color: white;
      }
      
      .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
      }
      
      div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
      }
      
      @media screen and (max-width: 700px) {
        .sidebar {
          width: 100%;
          height: auto;
          position: relative;
        }
        .sidebar a {float: left;}
        div.content {margin-left: 0;}
      }
      
      @media screen and (max-width: 400px) {
        .sidebar a {
          text-align: center;
          float: none;
        }
      }
   .img{
    position:fixed;
    left: 49rem;
    top: 21rem;
   }